{
    "extends": [
        "react-app",
        "airbnb",
        "plugin:import/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier"
    ],
    "plugins": [
        "import",
        "jsx-a11y",
        "prettier"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "src"
                ]
            }
        }
    },
    "rules": {
        "react/jsx-filename-extension":[
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/react-in-jsx-scope": "off"
    }
}